<% if logged_in? %>
	<%= link_to "New Recipe", new_recipe_path, class: "btn btn-default btn-lg" %>
<% end %>

<br>

<h2>All the recipes:</h2>

<hr>

<%= will_paginate @recipes %>

<div id="recipes" class="transitions-enabled clear">
	<% @recipes.each do |recipe| %>
	<div class="box panel panel-default">
		
		<% my_image = gravatar_for(recipe.chef, { size: 100 }) %>
	  <%= link_to my_image, recipe_path(recipe)  %>
	  
	  <div class="panel-body">
		  <h4><%= link_to recipe.name, recipe_path(recipe) %><small class="pull-right"><%= recipe.net_likes %></small></h4>
			<p><%= recipe.summary %></p>
			<span class="quiet"><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
			
			<%= image_tag(recipe.picture.url, size: "250x150", class: "recipe-picture") if recipe.picture? %>
	  </div>
	</div>
	<% end %>	
</div><!-- end #recipes -->
<div class="clear"></div>
	<%= will_paginate @recipes %>
