<h1>New Recipe</h1>
<br>

<% if @recipe.errors.any? %>
	<div class="row">
		<div class="alert alert-danger col-md-8 col-md-offset-2">
			<h5>Please correct the following errors:</h5>
			<ul>
				<% @recipe.errors.full_messages.each do |error| %>
					<li><%= error %></li>
				<% end %>
			</ul>	
		</div>	
	</div><!-- .row -->
<% end %>

<br>

<%= form_for @recipe do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %><br>
	
	<%= f.label :summary %>
	<%= f.text_field :summary %><br>
	
	<%= f.label :description %>
	<%= f.text_area :description %><br>
	
	<%= f.submit 'Create Recipe', class: "btn btn-success" %>
<% end %>	