<div class="jumbotron center">
	<h1 class="recipe-title"><%= @recipe.name %></h1>
		
	<blockquote>
		<%= @recipe.summary %><br>
		<span class="quiet"><small><%= time_ago_in_words(@recipe.created_at) %> ago</small></span>
	</blockquote>
	
	<div class="show-recipe-picture">
		<%= image_tag(@recipe.picture.url, class: "gravatar") if @recipe.picture? %>
	</div>
	
	<p><%= simple_format(@recipe.description) %></p> <!-- simple_format() om de stijl van ingevoerde tekst te handhaven -->
	<br>
	<% if @recipe.styles.any? %>
	<p>
		<small>Styles:</small>
		<div class="btn-group" role="group" aria-label="...">
			<% @recipe.styles.each do |style| %>
			<%= link_to style.name, style_path(style), { class: "btn btn-default", role: "button"} %>
	  	<% end %>
		</div>
	</p><br>
	<% end %>

	<% if @recipe.ingredients.any? %>
	<p>
		<small>Ingredients:</small>
		<div class="btn-group" role="group" aria-label="...">
			<% @recipe.ingredients.each do |ing| %>
			<%= link_to ing.name, ingredient_path(ing), { class: "btn btn-default", role: "button" } %>
	  	<% end %>
		</div>
	</p><br>
	<% end %>

	<div class="">
		<%= link_to like_recipe_path(like: true), method: :post do %>
			<i class="glyphicon glyphicon-thumbs-up"></i>
			&nbsp(<%= @recipe.likes_total %>)
		<% end %>
		&nbsp&nbsp
		<%= link_to like_recipe_path(like: false), method: :post do %>
			<i class="glyphicon glyphicon-thumbs-down"></i>
			&nbsp(<%= @recipe.dislikes_total %>)
		<% end %>
	</div>
	
	<hr>
	
	<h4>By: <%= link_to @recipe.chef.chefname, chef_path(@recipe.chef) %></h4>
	<br>
	<%= link_to 'Back', recipes_path, class: "btn btn-default btn-lg" %> 
		<% if logged_in? && (current_user == @recipe.chef || current_user.admin) %>
		| <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-default btn-lg" %>
 		<% end %>
 		<% if logged_in? && current_user.admin %>
 		| <%= link_to 'Delete', @recipe, method: :delete, class: "btn btn-danger btn-lg" %>
 		<% end %>

</div>